/*index.html*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #1e1e1e, #8b0000);
    color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px;
}

.container {
    text-align: center;
    width: 40%;
    margin: 20px;
}

.container h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.container p {
    font-size: 1.2rem;
}

#countdown {
    background: #ffffff;
    color: #000;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.4);
    margin-top: 100px;
}

#timer {
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 2px;
    background-color: rgba(81, 62, 48, 0.08);
    padding: 20px auto;
    border-radius: 10px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}
#timer span {
    color: #000000;
}

#message {
    margin-top: 20px;
    color: #ffb347;
}

.set{
    display: inline-block;
    margin-top: 20px;
    padding: 12px 24px;
    font-weight: 600;
    background: #463ecf;
    color: #f7f2f2;
    border-radius: 5px;
    text-decoration: none;
}

.set:hover {
    background: #463ecf; /*change*/
    transform: scale(1.05);
}

/*only for config.html*/ 

input[type="datetime-local"] {
  padding: 12px;
  font-size: 1.2rem;
  border-radius: 8px;
  margin: 20px 15px;
  outline: none;
}

.save {
  padding: 12px 28px;
  background-color: #ff5722; 
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.15);
}

.save:hover {
  background-color: #e64a19;
  transform: scale(1.05);
}

#saveStatus {
  font-size: 1rem;
  color: #00ffcc;
}



